var config = {
	stationName: "Your Station Name Here",
	stomp :{
		host: '127.0.0.1',
		port: 61336,
		topic: '/topic/nowplaying'
	},
	mongo: {
		connectionString: "mongodb://nowplaying:nowplaying@localhost/nowplaying"
	},
	sessionKeySecret: "12397 this should be a secret",
	feedSecret: "This is the secret shared with your sources",
	streamURL: "http://pointer/to/your/stream.mp3"
}

module.exports = config