<% include header %>
<div class="main-pane">
<h1>EMFM Now Playing!</h1>
<% if (typeof(track) != "undefined") { %>
	<p> Currently playing:</p>
	<dl>
		<dt><%= track.artist %></dt>
		<dd><%= track.title %></dd>
	</dl>
	<% if (typeof(show) != "undefined") { %>
		<p>On <%= show.name %> - with <%= show.presenter.name %></p>
	<% } %>
<% } %>
</div>
<% include footer %>