

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-pane {
  padding: 40px 15px;
  with:80%;
  margin:auto;
}
















